<div class="top-bar">

    <div class="container">

        <div class="row">
            <div class="row__col row__col--no-gutter">

                <div class="navbar">
                    <a href="#" class="navbar__link"><span>menu</span></a>
                    <nav class="nav navbar__menu" role="navigation">
                        <ul>
                            <li><a href="{{ url }}">Home</a></li>
                            <li class="navbar__menu__sub">
                                <a href="#">Templates</a>
                                <ul class="navbar__menu__level-1">
                                    <li class="navbar__menu__sub">
                                        <a href="#">UI Test</a>
                                        <ul class="navbar__menu__level-2">
                                            <li><a href="test.html">All</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="" title="View the documentation">Documentation</a></li>
                        </ul>
                    </nav>
                </div><!-- ./menu -->

            </div>
        </div>

    </div><!-- /.container -->
</div><!-- /.nav -->
